/* PreviewAndSubmitForm.css */

.page {
  background-image: url('back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-top: 50px;
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: beige;
  width: 659px;
}

.preview-details {
  margin-top: 20px;
}

h2, h3, h4 {
  color: #007bff;
}

.personal-details {
  margin-bottom: 30px;
}

.photo-preview {
  margin-top: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.education-details {
  margin-top: 30px;
}

.degree-details,
.twelfth-details,
.tenth-details {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:active {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary:disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: not-allowed;
}
